extends layout 
block content
  - var boardList = boardList
  h1= `게시판 목록입니다`

  button(onclick="location.href='/board/insert'") 작성화면으로
  hr 

  table
    thead 
      tr 
        td 제목
        td 작성자
        td 내용
    tbody 
      each board in boardList
        tr(onclick=`location.href='/board/${board.board_no}'`)
          td= board.title
          td= board.writer
          td= board.content
          td 
            form(action="/board/delete",
            method="post")
              input(type="hidden",
              name="boardNo",
              value= board.board_no
              )
              input(type="submit", value="삭제")
